[submodule "vim/bundle/vim-railscasts"]
	path = vim/bundle/vim-railscasts
	url = git@github.com:stemps/vim-railscasts.git
[submodule "git/bundle/ack.vim"]
	path = git/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/markabe/bufexplorer.git
  ignore = untracked
[submodule "vim/bundle/fuzzy_file_finder"]
	path = vim/bundle/fuzzy_file_finder
	url = https://github.com/jamis/fuzzy_file_finder.git
[submodule "vim/bundle/fuzzyfinder_textmate"]
	path = vim/bundle/fuzzyfinder_textmate
	url = https://github.com/sethbc/fuzzyfinder_textmate.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:stemps/vim-rails.git
[submodule "vim/bundle/git-vim"]
	path = vim/bundle/git-vim
	url = https://github.com/motemen/git-vim.git
  ignore = untracked
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
